internet-bundles {

}
.bundle {
  ion-grid {
    display: flex;
    align-items: center;
    justify-content: center;

    .bundle-name {
      font-size: 2.0em;
      font-weight: bold;
      color: #fff;
    }

    .bundle-price, .bundle-cost {
      font-size: 1.0em;
      color: #fff;
    }
    .bundle-size, .bundle-speed {
      font-size: 1.0em;
      color: #fff;
    }
    img {
      max-width: 30%;
    }
  }
}
.lp {
  text-transform: none !important;
}