<ion-header>
  <ion-toolbar no-border-bottom>
    <h5 class="lasso" text-center>Internet Bundles</h5>
    <ion-buttons end>
      <button ion-button clear small (click)="refresh">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <p>These bundles are packaged according to the speed or size they offer. Please choose one.</p>
      <p>You currently have <i><b>Ksh. {{balance}}</b></i> and <i><b>{{lp}} LP</b></i> on your account.</p>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <button class="lp" ion-button clear small (click)="explainLP()">What is LP ?</button>
      </ion-col>
      <ion-col *ngIf="lp > 0"></ion-col>
      <ion-col *ngIf="lp > 0">
        <button class="lp" ion-button clear small color="secondary" (click)="redeemLP()">Redeem LP</button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row nowrap>
      <ion-col col-6>
        <h5 text-center class="lasso">Speed</h5>
      </ion-col>
      <ion-col col-6>
        <h5 text-center class="lasso">Size</h5>
      </ion-col>
    </ion-row>
    <ion-row wrap>
      <ion-col col-6>
        <ion-card
          class="bundle"
          *ngFor="let bundle of speedbundles"
          [style.backgroundColor]="bundle.bgcolor"
          [style.borderColor]="bundle.brcolor"
          (click)="chooseBundle(bundle)"
        >
          <ion-grid>
            <img [src]="bundle.image" />
            <ion-row class="bundle-name" text-center>{{bundle.name}}</ion-row>
            <ion-row class="bundle-cost" text-center>Ksh. {{bundle.cost}} / Minute</ion-row>
            <ion-row class="bundle-speed" text-center>{{bundle.speed}}</ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card
          class="bundle"
          *ngFor="let bundle of sizebundles"
          [style.backgroundColor]="bundle.bgcolor"
          [style.borderColor]="bundle.brcolor"
          (click)="chooseBundle(bundle)"
        >
          <ion-grid>
            <img [src]="bundle.image" />
            <ion-row class="bundle-name" text-center>{{bundle.name}}</ion-row>
            <ion-row class="bundle-cost" text-center>Ksh. {{bundle.cost}}</ion-row>
            <ion-row class="bundle-size" text-center>{{bundle.size}}</ion-row>
            <!--<ion-row class="bundle-price" text-center>Ksh. {{bundle.price}} / MB</ion-row>-->
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
