<ion-header>
  <ion-toolbar>
    <h5 class="lasso" text-center>{{title}}</h5>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5 text-center class="lasso">{{subtitle}}</h5>
  <br />
  <p [hidden]="!error" class="danger" text-center>{{error}}</p>
  <br />
  <div id="message" text-center></div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <button ion-button outline color="danger" (click)="cancel()">Cancel</button>
    </ion-col>
    <ion-col></ion-col>
    <ion-col col-4>
      <form novalidate [formGroup]="transactioncode">
        <ion-list>
          <ion-item>
            <ion-label color="lasso" floating>{{placeholder}}</ion-label>
            <ion-input type="string" clearInput formControlName="transactioncode"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <button ion-button block color="secondary" [disabled]="!transactioncode.valid" (click)="transact()">Confirm</button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-footer>