// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-nav {
  background-color: #19cf86;
  background-image: url('/assets/imgs/lasso.png');
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
  
}
.lasso {
  color: #009874;
}
.danger {
  color: #f53d3d;
}
.splash-bg {
  position: relative;
  background: url('../assets/imgs/splashbg.png') no-repeat transparent;
  background-size: cover;
  height: 100%;
  z-index: 1;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}