<ion-menu [content]="content" [side]="menu.side" [type]="menu.type">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
      <ion-buttons end>
        <button ion-button clear icon-only menuClose>
          <ion-icon item-right name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <ion-list no-lines>
      <ion-list-header>
        Pages
      </ion-list-header>
      <ion-item>
        <ion-icon name='people' item-start></ion-icon>
        <button ion-button clear full menuClose (click)="view(0)">Users</button>
      </ion-item>
      <ion-item>
        <ion-icon name="cash" item-start></ion-icon>
        <button ion-button clear full menuClose (click)="view(1)">Payments</button>
      </ion-item>
      <ion-item>
        <ion-icon name="analytics" item-start></ion-icon>
        <button ion-button outline icon-start block menuClose (click)="view(2)">Metrics</button>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-item-group>
      <ion-item>
        <button ion-button clear icon-start full (click)="signOut()">
          <ion-icon name="log-out"></ion-icon>
          Sign Out
        </button>
      </ion-item>
    </ion-item-group>
  </ion-footer>
  
</ion-menu>

<ion-nav #content [root]="rootPage" [rootParams]="rootParams"></ion-nav>