<ion-header>
  <ion-toolbar no-border-bottom>
    <h5 class="lasso" text-center>Redeem Lasso Points</h5>
    <ion-buttons end>
      <button ion-button clear small (click)="refresh">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <p>You currently have <i><b>Ksh. {{balance}}</b></i> and <i><b>{{lp}} LP</b></i> on your account.</p>
    <br>
    <p *ngIf="lp < 10">You have insufficient LP. There ain't any offers that you can redeem {{lp}} LP for.</p>
    <ion-row wrap *ngIf="lp >= 10">
      <ion-card></ion-card>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-col></ion-col>
  <ion-col>
    <button ion-button clear color="danger" (click)="cancel()">{{ lp < 10 ? 'Ok' : 'Cancel' }}</button>
  </ion-col>
  <ion-col *ngIf="lp >= 10"></ion-col>
  <ion-col *ngIf="lp >= 10">
    <button ion-button full color="secondary" (click)="redeemLP()">Redeem</button>
  </ion-col>
  <ion-col></ion-col>
</ion-footer>
