<ion-tabs  #statusTabs>
  <ion-tab [root]="tab1Root" tabIcon="people">Users</ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="cash">Money</ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="analytics">Metrics</ion-tab>
</ion-tabs>