<ion-menu id="main" [content]="content" [side]="menu.side" [type]="menu.type">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-footer>
    <ion-item-group>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item *ngIf="session">
        <button ion-button clear block (click)="session_expanded = !session_expanded" icon-right>
          Session
          <ion-icon [hidden]="!session_expanded" name="arrow-dropdown"></ion-icon>
          <ion-icon [hidden]="session_expanded" name="arrow-dropup"></ion-icon>
        </button>
      </ion-item>
      <ion-list *ngIf="session" [hidden]="!session_expanded">
        <ion-item>
          <ion-icon item-start name="timer"></ion-icon>
          <h2>Sesson type</h2>
          <h3>{{session.type}}</h3>
        </ion-item>
        <ion-item>
          <ion-icon item-start name="speedometer"></ion-icon>
          <h2>Sesson speed</h2>
          <h3>{{session.speed}}</h3>
        </ion-item>
        <ion-item>
          <ion-icon item-start name="timer"></ion-icon>
          <h2>Time Left</h2>
          <h3>{{session.timeleft}}</h3>
        </ion-item>
        <ion-item>
          <ion-icon item-start name="user"></ion-icon>
          <h2>Device IP</h2>
          <h3>{{session.ip}}</h3>
        </ion-item>
        <ion-item>
          <ion-icon item-start name="code"></ion-icon>
          <h2>Device Mac</h2>
          <h3>{{session.mac}}</h3>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col>
              <button ion-button small outline (click)="toggleSession()">
                <ion-icon name="pause" [hidden]="!session.paused"></ion-icon>
                <ion-icon name="play" [hidden]="session.paused"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button small outline (click)="endSession()">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <ion-item>
        <button ion-button clear block (click)="signOut()" icon-right>
          Sign Out
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-item>
    </ion-item-group>
  </ion-footer>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>