<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <button ion-button clear menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>
<ion-content scroll="false" class="splash-bg">
  <ion-grid>
    <ion-row wrap>
      <ion-col *ngFor="let app of apps">
        <ion-card (click)="goToApp(app.page)" class="app">
          <img [src]="app.icon" class="icon" />
          {{app.name}}
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
