home {
  .splash-bg {
    position: relative;
    background: url('../assets/imgs/splashbg.png') no-repeat transparent;
    background-size: cover;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }
  .app {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 15px;
  }
  .app:hover {
    border: 1px #009874 solid;
  }
  .icon {
    max-height: 10%;
    max-width: 10%;
  }
  
}
