<ion-header>
  <ion-toolbar>
    <h5 class="lasso" text-center>{{title}}</h5>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5 text-center class="lasso">{{subtitle}}</h5>
  <br />
  <p [hidden]="!error" class="danger" text-center>{{error}}</p>
  <br />
  <p text-center><b>{{message}}</b></p>
  <ion-row>
    <ion-col></ion-col>
    <ion-col col-6>
      <form novalidate [formGroup]="activationcode">
        <ion-list>
          <ion-item>
            <ion-label color="lasso" floating>{{placeholder}}</ion-label>
            <ion-input type="number" clearInput formControlName="activationcode"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <button ion-button outline color="danger" (click)="cancel()">Cancel</button>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <button ion-button block color="primary" (click)="resend()">Resend</button>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <button ion-button block color="secondary" [disabled]="!activationcode.valid" (click)="activate()">Actvate</button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-footer>