<ion-header>
  <ion-toolbar>
    <ion-title>Metrics</ion-title>
    <button ion-button icon-only menuToggle="right" right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
