<ion-header>
  <ion-toolbar>
    <ion-title>Users</ion-title>
    <button ion-button icon-only menuToggle="right" right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="category" color="primary">
    <ion-segment-button value="active">
      <ion-icon name="pulse"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="inactive">
      <ion-icon name="eye-off"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="previous">
      <ion-icon name="bookmark"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="disabled">
      <ion-icon name="bookmark"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-thumbnail item-start>
        <img src="/assets/imgs/lasso.png">
      </ion-thumbnail>
      <p>ID: {{user['.id']}}</p>
      <p>Name: {{user.name}}</p>
      <p>Uptime: {{user.uptime}}</p>
      <p>Bytes In {{user.bytes-in}}</p>
      <p>Bytes Out: {{user.bytes-out}}</p>
      <p>Packets In: {{user.packets-in}}</p>
      <p>Packets Out: {{user.packets-out}}</p>
      <p>Disabled: {{user.disabled}}</p>
      <p>Dynamic: {{user.dynamic}}</p>
      <button ion-button clear item-end (click)="viewUser(user)">Details</button>
    </ion-item>
  </ion-list>
</ion-content>
