tutorial {
  .scroll-content {
    overflow: auto;
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }
  #skip_button {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 100;
  }
  .slide-image.smaller {
    margin: 36px 0;
    max-height: 20%;
    max-width: 40%;
  }
}
