<html>
	<head></head>
	<body>
		<ion-content no-bounce="no-bounce">
			<button id="skip_button" ion-button="ion-button" color="danger" clear="clear" hidden="hidden" activeindex="=" click="click" startapp="startApp">Skip</button>
			<ion-slides pager="true" ionwillchange="ionWillChange" onslidechangestart="onSlideChangeStart" event="event" ionslidedidchange="ionSlideDidChange" slidechanged="slideChanged">
				<ion-slide ngfor="let slide of slides">
					<ion-content>
						<img src="src" slide.image="slide.image" class.smaller="class.smaller" activeindex="=" class="slide-image" />

						<h2 class="slide-title" innerhtml="innerHTML" slide.title="slide.title"></h2>
						<div innerhtml="innerHTML" slide.description="slide.description"></div>
						<button ion-button="ion-button" color="primary" ngif="activeindex == 2" click="click" sign="sign">Sign Up</button>
						<button ion-button="ion-button" round="round" color="secondary" ngif="activeindex == 1" click="click" download="download">
							<ion-icon name="download"></ion-icon>
						</button>
					</ion-content>
				</ion-slide>
				<ion-slide>
					<img src="assets/imgs/ica-slidebox-img-4.png" class="slide-image" />

					<h2 class="slide-title">{{ 'TUTORIAL_SLIDE4_TITLE' | translate }}</h2>
					<button ion-button="ion-button" icon-right="icon-right" large="large" clear="clear" click="click" startapp="startApp">
						{{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}

						<ion-icon name="arrow-forward"></ion-icon>
					</button>
				</ion-slide>
			</ion-slides>
			<ion-fab left="left" bottom="bottom" click="click" prevslide="prevSlide" hidden="hidden" activeindex="=">
				<button ion-fab="ion-fab" mini="mini" color="primary">
					<ion-icon name="arrow-back"></ion-icon>
				</button>
			</ion-fab>
			<ion-fab right="right" bottom="bottom" click="click" nextslide="nextSlide" hidden="hidden" activeindex="=">
				<button ion-fab="ion-fab" mini="mini" color="primary">
					<ion-icon name="arrow-forward"></ion-icon>
				</button>
			</ion-fab>
		</ion-content>
	</body>
</html>