<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button clear (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Radio</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button clear menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>


<ion-content padding>

</ion-content>
