<ion-header>
  <ion-toolbar>
    <h5 class="lasso" text-center>Sign Up/ Sign In</h5>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5 text-center class="lasso">Enter your mobile phone number.</h5>
  <br />
  <p [hidden]="!error" class="danger" text-center>{{error}}</p>
  <br />
  <p text-center>{{message}}</p>
  <ion-row>
    <ion-col></ion-col>
    <ion-col col-6>
      <form novalidate [formGroup]="phonenumber">
        <ion-list>
          <ion-item>
            <ion-label color="lasso" floating>Phone Number</ion-label>
            <ion-input type="number" clearInput formControlName="phonenumber"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <button ion-button outline color="danger" (click)="cancel()">Cancel</button>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <button ion-button block color="secondary" [disabled]="!phonenumber.valid" (click)="sign()">Submit</button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-footer>